.photo{
  background-image: url("pics/image2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
td{
  color: blue;
}
.list-group-primary
{background-color: red;}

body{background-color: red}
.H1{color: white;
text-align: center;
}
.toast {
  text-align: center;
}
